<div class="featured-course course-item">
					<div class="course-thumb set-bg" data-setbg="img/courses/f-2.jpg">
					</div>
					<div class="row">
						<div class="col-lg-6 pr-0">
							<div class="course-info">
								<div class="course-text">
									<div class="fet-note">Featured Course</div>
									<h5><%= @off_show.off_title %></h5>
									<p><%= @off_show.off_content %></p>
								</div>
								<div class="course-author">
									<div class="ca-pic set-bg" data-setbg="img/authors/2.jpg"></div>
									<p>강사: <%= @off_show.off_tutor_content %></p>
								</div>
							</div>
						</div>
					</div>

<!--<div>
    제목: <%= @off_show.off_title %>
    내용: <%= @off_show.off_content %>
    강사 소개: <%= @off_show.off_tutor_content %>
    
</div>-->







       


